[Desktop Entry]
Type=Application
Version=1.0
Name=Fastpotify
GenericName=Music Player
Comment=A native Navidrome music client
Exec=fastpotify
Terminal=false
Categories=AudioVideo;Audio;Player;Music;
Keywords=navidrome;music;player;streaming;
Icon=fastpotify
StartupNotify=true
StartupWMClass=fastpotify
